.content {
    font-size: 1em;
    .section{
        padding: 16.5rem 1.5rem 4.5rem;
        // background-color: #2980b9;
        color: #fff;
    }
    .action{
        text-align: center;
    }
}
.copy-btn{
    float: right;
    cursor: pointer;
    font-size: 18px;
    color: #292929;
}