.content {
    padding:20px;
    h1{
        text-align: center;
        margin-bottom: 20px;
    }
    .action{
        text-align: center;
    }
}
.copy-btn{
    float: right;
    cursor: pointer;
    font-size: 18px;
    color: #292929;
}